.DS_Store
node_modules
/dist
build
/firmware/managed_components

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
stage/*
firmware/nvs.bin
firmware/main/ca_pem.h
server/keys/server.*
server/keys/MyRootCA.*

server/keys.old/*
package-lock.json
server/server.pem
server/server.key
server/src/**/*.js
server/src/**/*.js.map
server/data/toolaccess.db
.claude/settings.local.json
firmware/dependencies.lock
UserPortal/dist/**/*
UserPortal/out/**/*
UserPortal/flutter_ui/.dart_tool/**/*
UserPortal/flutter_ui/build/**/*

# Python environment files
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/

# FVM (Flutter Version Manager) files
.fvm/
.fvmrc
