.DS_Store
node_modules
/dist
build
/firmware/managed_components

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
stage/*
firmware/nvs.bin
firmware/main/ca_pem.h
server/keys/server.csr
server/keys/server.key
package-lock.json
server/server.pem
server/server.key
server/src/data.js
server/src/data.js.map
server/src/server.js
server/src/server.js.map
server/src/config.js
server/src/config.js.map
server/src/mfrc522.js
server/src/mfrc522.js.map
server/data/toolaccess.db
